In [3]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

In [4]:
url = r"C:\Users\next3\customer-churn-prediction-analysis\data\processed\cleaned_data.csv"
df = pd.read_csv(url)

In [5]:
df.head()

,Account length,Number vmail messages,Total day minutes,Total day calls,Total day charge,Total eve minutes,Total eve calls,Total eve charge,Total night minutes,Total night calls,...,State_WA,State_WI,State_WV,State_WY,Area code_415,Area code_510,International plan_Yes,Voice mail plan_Yes,Account_Length_Binned_Medium,Account_Length_Binned_Long
0,128,25,265.1,110,45.07,197.4,99,16.78,244.7,91,...,False,False,False,False,True,False,False,True,False,True
1,107,26,161.6,123,27.47,195.5,103,16.62,254.4,103,...,False,False,False,False,True,False,False,True,True,False
2,137,0,243.4,114,41.38,121.2,110,10.30,162.6,104,...,False,False,False,False,True,False,False,False,False,True
3,84,0,299.4,71,50.90,61.9,88,5.26,196.9,89,...,False,False,False,False,False,False,True,False,False,False
4,75,0,166.7,113,28.34,148.3,122,12.61,186.9,121,...,False,False,False,False,True,False,True,False,False,False

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2666 entries, 0 to 2665
Data columns (total 77 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Account length                2666 non-null   int64
 1   Number vmail messages         2666 non-null   int64
 2   Total day minutes             2666 non-null   float64
 3   Total day calls               2666 non-null   int64
 4   Total day charge              2666 non-null   float64
 5   Total eve minutes             2666 non-null   float64
 6   Total eve calls               2666 non-null   int64
 7   Total eve charge              2666 non-null   float64
 8   Total night minutes           2666 non-null   float64
 9   Total night calls             2666 non-null   int64
 10  Total night charge            2666 non-null   float64
 11  Total intl minutes            2666 non-null   float64
 12  Total intl calls              2666 non-null   int64
 13  Total intl charge             2666 non-null   float64
 14  Customer service calls        2666 non-null   int64
 15  Churn                         2666 non-null   int64
 16  Total_Charge                  2666 non-null   float64
 17  Total_Minutes                 2666 non-null   float64
 18  Avg_Minute_Cost               2666 non-null   float64
 19  Total_Calls                   2666 non-null   int64
 20  High_Customer_Service         2666 non-null   int64
 21  State_AL                      2666 non-null   bool
 22  State_AR                      2666 non-null   bool
 23  State_AZ                      2666 non-null   bool
 24  State_CA                      2666 non-null   bool
 25  State_CO                      2666 non-null   bool
 26  State_CT                      2666 non-null   bool
 27  State_DC                      2666 non-null   bool
 28  State_DE                      2666 non-null   bool
 29  State_FL                      2666 non-null   bool
 30  State_GA                      2666 non-null   bool
 31  State_HI                      2666 non-null   bool
 32  State_IA                      2666 non-null   bool
 33  State_ID                      2666 non-null   bool
 34  State_IL                      2666 non-null   bool
 35  State_IN                      2666 non-null   bool
 36  State_KS                      2666 non-null   bool
 37  State_KY                      2666 non-null   bool
 38  State_LA                      2666 non-null   bool
 39  State_MA                      2666 non-null   bool
 40  State_MD                      2666 non-null   bool
 41  State_ME                      2666 non-null   bool
 42  State_MI                      2666 non-null   bool
 43  State_MN                      2666 non-null   bool
 44  State_MO                      2666 non-null   bool
 45  State_MS                      2666 non-null   bool
 46  State_MT                      2666 non-null   bool
 47  State_NC                      2666 non-null   bool
 48  State_ND                      2666 non-null   bool
 49  State_NE                      2666 non-null   bool
 50  State_NH                      2666 non-null   bool
 51  State_NJ                      2666 non-null   bool
 52  State_NM                      2666 non-null   bool
 53  State_NV                      2666 non-null   bool
 54  State_NY                      2666 non-null   bool
 55  State_OH                      2666 non-null   bool
 56  State_OK                      2666 non-null   bool
 57  State_OR                      2666 non-null   bool
 58  State_PA                      2666 non-null   bool
 59  State_RI                      2666 non-null   bool
 60  State_SC                      2666 non-null   bool
 61  State_SD                      2666 non-null   bool
 62  State_TN                      2666 non-null   bool
 63  State_TX                      2666 non-null   bool
 64  State_UT                      2666 non-null   bool
 65  State_VA                      2666 non-null   bool
 66  State_VT                      2666 non-null   bool
 67  State_WA                      2666 non-null   bool
 68  State_WI                      2666 non-null   bool
 69  State_WV                      2666 non-null   bool
 70  State_WY                      2666 non-null   bool
 71  Area code_415                 2666 non-null   bool
 72  Area code_510                 2666 non-null   bool
 73  International plan_Yes        2666 non-null   bool
 74  Voice mail plan_Yes           2666 non-null   bool
 75  Account_Length_Binned_Medium  2666 non-null   bool
 76  Account_Length_Binned_Long    2666 non-null   bool
dtypes: bool(56), float64(11), int64(10)
memory usage: 583.3 KB

In [7]:
df.isnull().sum()

Account length                  0
Number vmail messages           0
Total day minutes               0
Total day calls                 0
Total day charge                0
                               ..
Area code_510                   0
International plan_Yes          0
Voice mail plan_Yes             0
Account_Length_Binned_Medium    0
Account_Length_Binned_Long      0
Length: 77, dtype: int64

In [8]:
df.describe()

,Account length,Number vmail messages,Total day minutes,Total day calls,Total day charge,Total eve minutes,Total eve calls,Total eve charge,Total night minutes,Total night calls,...,Total intl minutes,Total intl calls,Total intl charge,Customer service calls,Churn,Total_Charge,Total_Minutes,Avg_Minute_Cost,Total_Calls,High_Customer_Service
count,2666.000000,2666.000000,2666.000000,2666.000000,2666.000000,2666.000000,2666.000000,2666.000000,2666.000000,2666.000000,...,2666.000000,2666.000000,2666.000000,2666.000000,2666.000000,2666.000000,2666.000000,2666.000000,2666.000000,2666.00000
mean,100.569392,8.021755,179.533777,100.310203,30.521279,200.424944,100.023631,17.036363,201.121568,100.106152,...,10.254276,4.467367,2.769220,1.562641,0.145536,59.377417,591.334565,0.100333,304.907352,0.07877
std,39.412790,13.612277,53.835098,19.988162,9.151706,50.681362,20.161445,4.307806,50.380308,19.418459,...,2.715774,2.456195,0.733013,1.311236,0.352707,10.405702,89.561694,0.008325,34.421404,0.26943
min,1.000000,0.000000,34.650000,0.000000,5.900000,60.600000,0.000000,5.155000,62.600000,33.000000,...,3.100000,0.000000,0.845000,0.000000,0.000000,27.020000,284.300000,0.067958,191.000000,0.00000
25%,73.000000,0.000000,143.400000,87.000000,24.380000,165.300000,87.000000,14.050000,166.925000,87.000000,...,8.500000,3.000000,2.300000,1.000000,0.000000,52.287500,530.325000,0.094833,282.000000,0.00000
50%,100.000000,0.000000,179.950000,101.000000,30.590000,200.900000,100.000000,17.080000,201.150000,100.000000,...,10.200000,4.000000,2.750000,1.000000,0.000000,59.355000,593.950000,0.100300,305.000000,0.00000
75%,127.000000,19.000000,215.900000,114.000000,36.700000,235.100000,114.000000,19.980000,236.475000,113.000000,...,12.100000,6.000000,3.270000,2.000000,0.000000,66.557500,653.000000,0.105935,328.000000,0.00000
max,208.000000,50.000000,324.650000,160.000000,55.180000,339.800000,170.000000,28.875000,340.800000,166.000000,...,17.500000,20.000000,4.725000,9.000000,1.000000,92.370000,862.850000,0.129791,416.000000,1.00000

In [9]:
df.tail(10)

,Account length,Number vmail messages,Total day minutes,Total day calls,Total day charge,Total eve minutes,Total eve calls,Total eve charge,Total night minutes,Total night calls,...,State_WA,State_WI,State_WV,State_WY,Area code_415,Area code_510,International plan_Yes,Voice mail plan_Yes,Account_Length_Binned_Medium,Account_Length_Binned_Long
2656,122,0,140.0,101,23.80,196.4,77,16.69,120.1,133,...,False,False,False,False,False,True,True,False,False,True
2657,62,0,321.1,105,54.59,265.5,122,22.57,180.5,72,...,False,False,False,False,False,False,False,False,False,False
2658,117,0,118.4,126,20.13,249.3,97,21.19,227.0,56,...,False,False,False,False,True,False,False,False,True,False
2659,78,0,193.4,99,32.88,116.9,88,9.94,243.3,109,...,False,False,False,False,False,False,False,False,False,False
2660,96,0,106.6,128,18.12,284.8,87,24.21,178.9,92,...,False,False,False,False,True,False,False,False,True,False
2661,79,0,134.7,98,22.90,189.7,68,16.12,221.4,128,...,False,False,False,False,True,False,False,False,False,False
2662,192,36,156.2,77,26.55,215.5,126,18.32,279.1,83,...,False,False,False,False,True,False,False,True,False,True
2663,68,0,231.1,57,39.29,153.4,55,13.04,191.3,123,...,False,False,True,False,True,False,False,False,False,False
2664,28,0,180.8,109,30.74,288.8,58,24.55,191.9,91,...,False,False,False,False,False,True,False,False,False,False
2665,74,25,234.4,113,39.85,265.9,82,22.60,241.4,77,...,False,False,False,False,True,False,False,True,False,False

In [10]:
numeric_cols = [
    "Number vmail messages", "Total day minutes", "Total eve minutes", 
    "Total night minutes", "Total intl minutes", "Total intl calls", 
    "Customer service calls"
]

outliers_df = pd.DataFrame()

for col in numeric_cols:
    Q1 = df[col].quantile(0.25)
    Q3 = df[col].quantile(0.75)
    IQR = Q3 - Q1
    lower_bound = Q1 - 1.5 * IQR
    upper_bound = Q3 + 1.5 * IQR
    
    mask = (df[col] < lower_bound) | (df[col] > upper_bound)
    outliers_df[col] = mask

rows_with_outliers = df[outliers_df.any(axis=1)]

print(f"rows with outliers : {len(rows_with_outliers)}")
rows_with_outliers.head()

rows with outliers : 275

,Account length,Number vmail messages,Total day minutes,Total day calls,Total day charge,Total eve minutes,Total eve calls,Total eve charge,Total night minutes,Total night calls,...,State_WA,State_WI,State_WV,State_WY,Area code_415,Area code_510,International plan_Yes,Voice mail plan_Yes,Account_Length_Binned_Medium,Account_Length_Binned_Long
12,62,0,120.7,70,20.52,307.2,76,26.11,203.0,99,...,False,False,False,False,True,False,False,False,False,False
18,77,0,62.4,89,10.61,169.9,121,14.44,209.6,64,...,False,False,False,False,False,False,False,False,False,False
19,130,0,183.0,112,31.11,72.9,99,6.20,181.8,78,...,False,False,False,False,True,False,False,False,False,True
35,135,41,173.1,85,29.43,203.9,107,17.33,122.2,78,...,False,False,False,False,False,False,True,True,False,True
45,87,0,151.0,83,25.67,219.7,116,18.67,203.9,127,...,False,False,False,True,True,False,False,False,True,False

In [11]:
for col in rows_with_outliers.columns:
    print(f"{col}: {rows_with_outliers[col].nunique()} unique values ")

Account length: 130 unique values
Number vmail messages: 29 unique values
Total day minutes: 262 unique values
Total day calls: 85 unique values
Total day charge: 262 unique values
Total eve minutes: 258 unique values
Total eve calls: 84 unique values
Total eve charge: 253 unique values
Total night minutes: 251 unique values
Total night calls: 82 unique values
Total night charge: 223 unique values
Total intl minutes: 105 unique values
Total intl calls: 20 unique values
Total intl charge: 105 unique values
Customer service calls: 10 unique values
Churn: 2 unique values
Total_Charge: 267 unique values
Total_Minutes: 267 unique values
Avg_Minute_Cost: 275 unique values
Total_Calls: 123 unique values
High_Customer_Service: 2 unique values
State_AL: 2 unique values
State_AR: 2 unique values
State_AZ: 2 unique values
State_CA: 2 unique values
State_CO: 2 unique values
State_CT: 2 unique values
State_DC: 2 unique values
State_DE: 2 unique values
State_FL: 2 unique values
State_GA: 2 unique values
State_HI: 2 unique values
State_IA: 2 unique values
State_ID: 2 unique values
State_IL: 2 unique values
State_IN: 2 unique values
State_KS: 2 unique values
State_KY: 2 unique values
State_LA: 2 unique values
State_MA: 2 unique values
State_MD: 2 unique values
State_ME: 2 unique values
State_MI: 2 unique values
State_MN: 2 unique values
State_MO: 2 unique values
State_MS: 2 unique values
State_MT: 2 unique values
State_NC: 2 unique values
State_ND: 2 unique values
State_NE: 2 unique values
State_NH: 2 unique values
State_NJ: 2 unique values
State_NM: 2 unique values
State_NV: 2 unique values
State_NY: 2 unique values
State_OH: 2 unique values
State_OK: 2 unique values
State_OR: 2 unique values
State_PA: 2 unique values
State_RI: 2 unique values
State_SC: 2 unique values
State_SD: 2 unique values
State_TN: 2 unique values
State_TX: 2 unique values
State_UT: 2 unique values
State_VA: 2 unique values
State_VT: 2 unique values
State_WA: 2 unique values
State_WI: 2 unique values
State_WV: 2 unique values
State_WY: 2 unique values
Area code_415: 2 unique values
Area code_510: 2 unique values
International plan_Yes: 2 unique values
Voice mail plan_Yes: 2 unique values
Account_Length_Binned_Medium: 2 unique values
Account_Length_Binned_Long: 2 unique values

In [12]:
numeric_cols = [
    "Number vmail messages", "Total day minutes", "Total day charge",
    "Total eve minutes", "Total eve charge",
    "Total night minutes", "Total night charge",
    "Total intl minutes", "Total intl charge",
    "Total intl calls", "Customer service calls"
]

for col in numeric_cols:
    Q1 = df[col].quantile(0.25)
    Q3 = df[col].quantile(0.75)
    IQR = Q3 - Q1
    lower_bound = Q1 - 1.5 * IQR
    upper_bound = Q3 + 1.5 * IQR
    
    df[col] = df[col].clip(lower=lower_bound, upper=upper_bound)

In [13]:
df.describe()

,Account length,Number vmail messages,Total day minutes,Total day calls,Total day charge,Total eve minutes,Total eve calls,Total eve charge,Total night minutes,Total night calls,...,Total intl minutes,Total intl calls,Total intl charge,Customer service calls,Churn,Total_Charge,Total_Minutes,Avg_Minute_Cost,Total_Calls,High_Customer_Service
count,2666.000000,2666.000000,2666.000000,2666.000000,2666.000000,2666.000000,2666.000000,2666.000000,2666.000000,2666.000000,...,2666.000000,2666.000000,2666.000000,2666.000000,2666.000000,2666.000000,2666.000000,2666.000000,2666.000000,2666.00000
mean,100.569392,8.019880,179.533777,100.310203,30.521279,200.424944,100.023631,17.036363,201.121568,100.106152,...,10.254276,4.411478,2.769220,1.477869,0.145536,59.377417,591.334565,0.100333,304.907352,0.07877
std,39.412790,13.606662,53.835098,19.988162,9.151706,50.681362,20.161445,4.307806,50.380308,19.418459,...,2.715774,2.262104,0.733013,1.105791,0.352707,10.405702,89.561694,0.008325,34.421404,0.26943
min,1.000000,0.000000,34.650000,0.000000,5.900000,60.600000,0.000000,5.155000,62.600000,33.000000,...,3.100000,0.000000,0.845000,0.000000,0.000000,27.020000,284.300000,0.067958,191.000000,0.00000
25%,73.000000,0.000000,143.400000,87.000000,24.380000,165.300000,87.000000,14.050000,166.925000,87.000000,...,8.500000,3.000000,2.300000,1.000000,0.000000,52.287500,530.325000,0.094833,282.000000,0.00000
50%,100.000000,0.000000,179.950000,101.000000,30.590000,200.900000,100.000000,17.080000,201.150000,100.000000,...,10.200000,4.000000,2.750000,1.000000,0.000000,59.355000,593.950000,0.100300,305.000000,0.00000
75%,127.000000,19.000000,215.900000,114.000000,36.700000,235.100000,114.000000,19.980000,236.475000,113.000000,...,12.100000,6.000000,3.270000,2.000000,0.000000,66.557500,653.000000,0.105935,328.000000,0.00000
max,208.000000,47.500000,324.650000,160.000000,55.180000,339.800000,170.000000,28.875000,340.800000,166.000000,...,17.500000,10.500000,4.725000,3.500000,1.000000,92.370000,862.850000,0.129791,416.000000,1.00000

In [14]:
outliers_count = 0
for col in numeric_cols:
    Q1 = df[col].quantile(0.25)
    Q3 = df[col].quantile(0.75)
    IQR = Q3 - Q1
    lower_bound = Q1 - 1.5 * IQR
    upper_bound = Q3 + 1.5 * IQR

    outliers_count += df[(df[col] < lower_bound) | (df[col] > upper_bound)].shape[0]

print(f"rows with outliers : {outliers_count}")

rows with outliers : 0

In [15]:
duplicates = df[df.duplicated()]
print(f" rows with duplicates :{duplicates.shape[0]}")
duplicates.head()

 rows with duplicates :0

Empty DataFrame
Columns: [Account length, Number vmail messages, Total day minutes, Total day calls, Total day charge, Total eve minutes, Total eve calls, Total eve charge, Total night minutes, Total night calls, Total night charge, Total intl minutes, Total intl calls, Total intl charge, Customer service calls, Churn, Total_Charge, Total_Minutes, Avg_Minute_Cost, Total_Calls, High_Customer_Service, State_AL, State_AR, State_AZ, State_CA, State_CO, State_CT, State_DC, State_DE, State_FL, State_GA, State_HI, State_IA, State_ID, State_IL, State_IN, State_KS, State_KY, State_LA, State_MA, State_MD, State_ME, State_MI, State_MN, State_MO, State_MS, State_MT, State_NC, State_ND, State_NE, State_NH, State_NJ, State_NM, State_NV, State_NY, State_OH, State_OK, State_OR, State_PA, State_RI, State_SC, State_SD, State_TN, State_TX, State_UT, State_VA, State_VT, State_WA, State_WI, State_WV, State_WY, Area code_415, Area code_510, International plan_Yes, Voice mail plan_Yes, Account_Length_Binned_Medium, Account_Length_Binned_Long]
Index: []

[0 rows x 77 columns]